<div class="container">
    <h3>Reactive Form</h3>
    <pre>{{registrationForm.value | json}}</pre>
    <form  class="form-group" [formGroup]="registrationForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="mb-3 form-group">
            <label for="username" class="form-label">Username</label>
            <input id="username" type="text" class="form-control" formControlName="username" [ngClass]="{'is-invalid':username_getter.invalid && username_getter.touched}" placeholder="Enter your username">
            <div *ngIf="username_getter.invalid && username_getter.touched">
                <small *ngIf="username_getter.errors?.required" class="invalid-feedback d-block">
                    Please provide a Username.
                </small>
                <small *ngIf="username_getter.errors?.minlength" class="invalid-feedback d-block">
                    Username should be minimum {{username_getter.errors?.minlength?.requiredLength}} characters long.
                </small>
                <small *ngIf="username_getter.errors?.forbiddenName" class="invalid-feedback d-block">
                   {{username_getter.errors?.forbiddenName?.value}} Username should not contain this word.
                </small>
            </div>

        </div>

        <div class="mb-3 form-group">
            <label for="password" class="form-label">Password</label>
            <input id="password" type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid':password_getter.invalid && password_getter.touched}" placeholder="Enter your password">
            <div *ngIf="password_getter.invalid && password_getter.touched">
                <small *ngIf="password_getter.errors?.required" class="invalid-feedback d-block">
                    Please provide a Password.
                </small>
                <small *ngIf="password_getter.errors?.minlength" class="invalid-feedback d-block">
                    Username should be minimum 3 characters long.
                </small>
            </div>
        </div>

        <div class="mb-3 form-group">
            <label for="confirmpw" class="form-label">Confirm Password</label>
            <input id="confirmpw" type="password" class="form-control" formControlName="confirmpw" placeholder="Confirm Your Password" [ngClass]="{'is-invalid':confirmpw_getter.invalid && confirmpw_getter.touched}">
            <div *ngIf="confirmpw_getter.invalid && confirmpw_getter.touched">
                <small *ngIf="confirmpw_getter.errors?.required" class="invalid-feedback d-block">
                    Please provide the password.
                </small>
                <small *ngIf="confirmpw_getter.errors?.minlength" class="invalid-feedback d-block">
                    Username should be minimum 3 characters long.
                </small>
            </div>
        </div>

        <div class="mb-3 form-group">
            <label for="country" class="form-label">Country</label>
            <select name="country" id="country" class="form-select" formControlName="country" [ngClass]="{'is-invalid':country_getter.touched && country_getter.invalid}">
                <option value="" disabled>Please Choose One Country</option>
                <option *ngFor="let country of countries"  [value]="country">{{country}}</option>
            </select>
            <div [hidden]="country_getter.untouched || country_getter.valid">
                <small *ngIf="country_getter.errors?.required" class="invalid-feedback d-block">Please Choose a Country</small>
            </div>
        </div>

        <div class="mb-3 form-group ">
            <div class="form-check">
                <input type="checkbox" id="term" name="term" formControlName="term" [ngClass]="{'is-invalid':term_getter.touched && term_getter.invalid}" class="form-check-input border border-2">
                <label for="term" class="form-check-label"> Please Confirm All The Given Information.</label>
                <!-- <div [hidden]="term_getter.untouched || term_getter.valid">
                    <small *ngIf="term_getter.errors?.required" class="invalid-feedback d-block">You must accept the terms and conditions.</small>
                </div> -->
            </div>
        </div>


        <div class="class-12">
            <button class="btn btn-success" type="submit">Submit</button>
            <button (click)="loadOnClick()" class=" ms-3 btn btn-secondary " type="button">Load</button>
        </div>
    </form>
</div>